@{
    ViewData["Title"] = "Bem-vindo ao FraudSys";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bem-vindo ao <strong>FraudSys</strong></h1>
    <p class="lead mt-4">
        Este é um sistema de gerenciamento de <strong>contas correntes</strong> com foco em segurança e prevenção de fraudes.
    </p>

    <p class="mt-3">
        Com ele, você pode:
    </p>

    <ul class="list-unstyled fs-5 mt-2">
        <li> Cadastrar e consultar limites de transações por conta</li>
        <li> Editar informações de contas correntes</li>
        <li> Realizar transferências via PIX com validações</li>
    </ul>

    <p class="fw-semibold">Use o menu acima para navegar entre as funcionalidades.</p>
</div>
