@using FraudSys.Application.ViewModel
@model ContaCorrenteLimiteViewModel
@{
    ViewData["Title"] = "Criar Limite";
}

<h2>Criar Novo Limite</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="NumAgencia"></label>
        <input asp-for="NumAgencia" class="form-control" />
        <span asp-validation-for="NumAgencia" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NumConta"></label>
        <input asp-for="NumConta" class="form-control" />
        <span asp-validation-for="NumConta" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LimitePix"></label>
        <input asp-for="LimitePix" class="form-control" />
        <span asp-validation-for="LimitePix" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-2">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Cancelar</a>
</form>
